.closed {
  display: none;
}

.nothing {
  color: lightgray;
}

div {
  background-color:lightpink;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 400px;
  text-align: center;
  padding: 8px;
  border-radius: 12px;
  color: white;
}
